.logo-header {
  position: absolute;
  top: 25px;
  left: 40px;
  z-index: 20;
}

.logo-text {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  }
}
