.footer {
  background-color: #f2f2f2; /* Gris claro */
  color: #001f3f; /* Azul marino */
  text-align: center;
  padding: 2rem 1rem;
  border-top: 2px solid #ccc;
  position: relative;
  width: 100%;
  margin-top: auto;

  .footer-top {
    margin-bottom: 1.5rem;

    .about-link {
      text-decoration: none;
      color: #001f3f;
      font-weight: 600;
      font-size: 1.1rem;
      transition: color 0.3s ease;

      &:hover {
        color: #004080;
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* se ajusta en pantallas pequeñas */
    gap: 2rem;

    .socials {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;

  img {
    width: 50px;
    height: 50px;
    object-fit: contain; /* mantiene proporción */
    transition: transform 0.2s ease, opacity 0.2s ease;

    &:hover {
      transform: scale(1.1);
      opacity: 0.85;
    }
  }
  .tiktok{
     width: 40px;
    height: 40px;
}
}


    .payments img {
      width: 200px;
      max-width: 90%;
    }

    .secure {
      font-weight: 600;
    }
  }
}

